{% extends 'layouts/main.html.twig' %}
{% block content %}
    <h1>Today's attendance</h1>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Class</th>
                <th>Student</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody class="js-students">
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script src="/scripts/events.js"></script>
{% endblock %}
