{% extends 'layouts/main.html.twig' %}
{% block content %}
    <header id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for _ in todayAttendance %}
                {% if loop.first %}
                <div class="item active">
                {% else %}
                <div class="item">
                {% endif %}
                    <div class="fill">
                        <div class="container" style="margin-top: 2em">
                            <h1>{{ todayAttendance[loop.index0].cohort_name }}</h1>
                            <dl>
                                <dt>Today's attendance</dt>
                                <dd>
                                    {{ todayAttendance[loop.index0].attendance_percentage|number_format(2) }}%
                                </dd>
                                <dt>On-time today</dt>
                                <dd>
                                    {{ attendanceOnTime[loop.index0].on_time_attendance|number_format(2) }}%
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" role="button">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" role="button">
            <span class="icon-next"></span>
        </a>
    </header>
{% endblock %}
{% block scripts %}
    {#<script src="/scripts/events.js"></script>#}
    <script>
        $('#myCarousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>
{% endblock %}
{% block styles %}
    <link href="/styles/full-slider.css" rel="stylesheet">
{% endblock %}
