{% extends 'layouts/main.html.twig' %}
{% block content %}
    <header id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for _ in todayAttendance %}
                {% if loop.first %}
                <div class="item active">
                {% else %}
                <div class="item">
                {% endif %}
                    <div class="fill"></div>
                    <div class="carousel-caption">
                        <h2>{{ todayAttendance[loop.index0].cohort_name }}</h2>
                        <ul class="stats">
                            <li>
                                <i class="fa fa-calendar-plus-o fa-2"></i>
                                Today's attendance
                                <strong>
                                    {{ todayAttendance[loop.index0].attendance_percentage|number_format(2) }}%
                                </strong>
                            </li>
                            <li>
                                <i class="fa fa-calendar-check-o fa-2"></i>
                                On-time today
                                <strong>
                                    {{ attendanceOnTime[loop.index0].on_time_attendance|number_format(2) }}%
                                </strong>
                            </li>
                            <li>
                                <i class="fa fa-star fa-2"></i>
                                Days with 100% attendance
                                <strong>
                                    {{ daysWithPerfectAttendance[loop.index0].days_with_perfect_attendance|number_format(0) }}
                                </strong>
                            </li>
                        </ul>
                        <br><br>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" role="button">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" role="button">
            <span class="icon-next"></span>
        </a>
    </header>
{% endblock %}
{% block scripts %}
    {#<script src="/scripts/events.js"></script>#}
    <script>
        $('#myCarousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>
{% endblock %}
{% block styles %}
    <link href="/styles/full-slider.css" rel="stylesheet">
{% endblock %}
