<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    verbose="true"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="headless">
            <directory>tests/integration/WebDriver</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Codeup\PHPUnit\HeadlessBrowserListener">
            <arguments>
                <string>127.0.0.1:4444</string>
            </arguments>
        </listener>
    </listeners>
</phpunit>
